html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
/* =====  01. Reset  ====== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    margin: 0;
}

body {
    font-family: "Cormorant", sans-serif;
    background: #212121;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockQuote,
q {
    Quotes: none;
}

blockQuote:before,
blockQuote:after,
q:before,
q:after {
    content: "";
}

button:focus,
select:focus,
input:focus,
textarea:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    border: 1px solid #D9D9D9;
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

select::-ms-expand {
    display: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}

/* =====  End of 01. Reset  ====== */
/* ===== 02. Global Style ===== */
@font-face {
    font-family: "Harry P";
    src: url("../fonts/HarryP-MVZ6w.ttf");
}

@font-face {
    font-family: "Cormorant";
    src: url("../fonts/CormorantGaramond-Regular.ttf");
}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 65px;
    font-family: "Harry p", sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-size: 40px;
    letter-spacing: 4px;
    word-spacing: -4px;
    font-weight: 600;
    line-height: 35px;
    font-family: "Harry p", sans-serif;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    font-family: "Harry p", sans-serif;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Harry p", sans-serif;
}

h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    font-family: "Saira", sans-serif;
}

h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    font-family: "Saira", sans-serif;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Cormorant", sans-serif;
}

button {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    font-family: "Cormorant", sans-serif;
}

a {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    font-family: "Cormorant", sans-serif;
    text-decoration: none;
}

.hover1 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ED7812;
    color: #FFF;
    border-radius: 40px;
}

/* ===== End of 02. Global Style ===== */
/* 1.1. Header section */
.navbar {
    padding: 12px 0px;
}

header hr {
    color: #FFF;
    background-color: #FFF;
    opacity: 1;
    margin: 0;
}

.navbar .container-fluid {
    align-items: center;
    gap: 30px;
}

.nav-logo img {
    width: 100px;
    filter: invert(100%);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-collapse ul:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.navbar-collapse ul:nth-child(1) li a {
    padding: 7px !important;
    color: #BAAB9E;
    font-size: 18px;
}

header a.active,
header a:hover {
    color: #FFF !important;
}

.navbar .container-fluid button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
    padding: 9px 14px;
    border: none;
    font-size: 25px;
    color: #FFF;
}

.dropdown .fa-sort-down {
    position: relative;
    top: -2px;
}

.dropdown ul {
    width: 150px;
}

.dropdown-menu {
    display: block;
    overflow: hidden;
    padding: 0px;
    transition: all 0.3s ease-in;
    visibility: hidden;
    background-color: #383029;
}

.navbar-collapse .dropdown .dropdown-menu li a {
    padding: 14px 10px !important;
}

.dropdown ul li a:hover,
.dropdown ul li a.active {
    background-color: #383029;
    color: #FFF !important;
}

/* Side Navbar */
aside #sideNav {
    width: 280px;
    position: fixed;
    height: 100vh;
    top: 0px;
    left: -355px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 20px;
    z-index: 99;
    background-color: #252525;
}

aside #sideNav .d-flex {
    justify-content: space-between;
    align-items: baseline;
}

aside .fa-xmark {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 9px 14px;
    border: none;
    font-size: 25px;
    color: #FFF;
    font-size: 22px;
    position: relative;
    top: 4px;
}

aside ul {
    padding: 0px;
}

aside ul ul {
    padding: 0px;
    padding-top: 12px;
}

aside a,
aside button {
    color: #BAAB9E;
    border: none;
}

aside a:hover {
    color: #FFF;
}

aside li {
    padding: 12px 3px;
}

#slid-btn button {
    background-color: transparent;
    padding: 0px;
}

#slid-btn .fa-caret-down {
    color: #BAAB9E;
}

#slid-drop {
    display: none;
}

#slid-drop li {
    padding: 12px 0px;
}

.aside-dropdwon {
    display: block !important;
}

/* End of 1.1. Header section */

.Hero {
    padding-top: 50px;
}

.Hero img {
    width: 100%;
}

.Hero .position-relative {
    border-radius: 20px;
    overflow: hidden;
}

.Hero .position-absolute {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 80%);
    padding: 60px 60px;
}

.Hero h1 {
    color: #FFF;
}

.Hero p {
    color: #FFF;
}

.Hero .flex-column {
    gap: 20px;
    width: 800px;
}

.About {
    padding: 100px 0px;
}

.About .row {
    --bs-gutter-x: 12px
}

.About h2 {
    color: #FFF;
    text-align: center;
}

.About p {
    color: #FFF;
    max-width: 700px;
    text-align: center;
    margin-inline: auto;
    padding: 12px 0px;
}

.About h3 {
    text-align: center;
    color: #FFF;
    padding-top: 12px;
}

.About .flex-column {
    gap: 10px;
    border: 1px solid;
    height: 100%;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 4px 10px 20px rgb(39, 39, 39);
}

.About .flex-column p {
    padding: 0px;
}

.About figure {
    border-radius: 8px;
    overflow: hidden;
}

.About img {
    transition: all 0.3s ease;
}

.About .flex-column:hover img {
    transform: scale(1.05);
}

.Houses {
    text-align: center;
}

.Houses .row {
    --bs-gutter-x: 12px
}

.Houses h2 {
    color: #FFF;
}

.Houses p {
    color: #FFF;
    max-width: 700px;
    margin-inline: auto;
    padding: 12px 0px;
}

.Houses figure {
    position: relative;
    overflow: hidden;
}

.Houses figure::after {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 80%;
    height: 200%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: all 0.5s ease;
    transform: rotate(45deg) translateY(-25%);
    z-index: 2;
}

.Houses figure:hover::after {
    left: 100%;
    top: 100%;
}

.Slider {
    padding: 100px 0px;
    text-align: center;
}

.Slider h2 {
    color: #FFF;
}

.Slider p {
    color: #FFF;
    max-width: 700px;
    margin-inline: auto;
    padding: 12px 0px;
}

.Slider h3 {
    color: #FFF;
    font-size: 30px;
}

.Slider .flex-column {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 24px 30px;
}

.Slider .flex-column p {
    padding: 1px 0px;
}

.Slider img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    transition: all 0.3s ease;
}

.Slider figure {
    border-radius: 50%;
    overflow: hidden;
}
.Slider .flex-column:hover img{
    transform: scale(1.05);
}
.Games h2{
    color: #FFF;
    padding-bottom: 16px;
}
.Games p{
    color: #FFF;
    max-width: 700px;
    margin-inline: auto;
}
.Games ul{
    list-style: url("../images/icons/wand.png");
    list-style-position: inside;
}
.Games .h-100{
    gap: 12px;
}
.Games ul p{
    display: inline-block;
    padding-left: 12px;
}
.Games img{
    width: 55%;
}
.Games .w-25{
    width: calc(45% - 1rem) !important;
}